# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# Folders
!mattermost/
!brother-ql-web/
step-ca/

# Files
!repository.json
!README.md
!.gitignore
!.gitmodules