[submodule "brother-ql-web"]
	path = brother-ql-web
	url = https://github.com/saya6k/hassio-addon-brother-ql-web
[submodule "ytdlp2strm"]
	path = ytdlp2strm
	url = https://github.com/saya6k/hassio-addon-ytdlp2strm
[submodule "mcp-grocy-api"]
	path = mcp-grocy-api
	url = https://github.com/saya6k/mcp-grocy-api.git
